html {
	background-color: #262626;
}

body {
	background-color: #c7c7c7;
}

footer {
	background-color: #262626;
	color: #FFF;
	padding: 20px 0px 60px 0px;
}

.homesearch {
	background: url("/assets/img/wallpaper1.jpg") no-repeat;
	background-size: cover;
	color: #FFF;
	text-align: center;
}

.skinContainer > canvas {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
	cursor: move;
}

table.skinFileTable img.cape {
	height: 50px;
	margin-top: -11px;
	margin-left: -12px;
	margin-bottom: -12px;
	margin-right: 10px;
}

img.face {
	height: 50px;
	margin-top: -11px;
	margin-left: -12px;
	margin-bottom: -12px;
	margin-right: 10px;
}

table.skinFileTable tr.active {
	background: #f0ada6;
}

table.skinFileTable tr.active a {
	font-weight: bold;
}

.circleimg {
	border: 1px transparent solid;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    border-radius: 50%;
}

.roundimg {
	border: 1px transparent solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
}

.skinShadow {
	filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
	-webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
}

a.clearUnderline,
a.clearUnderline:hover,
a.clearUnderline:active,
a.clearUnderline:focus,
a.clearUnderline:visited {
	text-decoration: none !important;
}